/* estilo geral */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        background-color: #610a61 ;
        height: 100vh;
}
.interface{
    max-width: 1580px;
    margin: 0 auto;
}

.flex{
    display:flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:azure;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.menu-desktop ul li a{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:rgb(126, 56, 143);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

.menu-desktop li a:hover{
    box-shadow: 0px 0px 8px rgba(240, 255, 255, 0.888);
    transform: scale(1.05);
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #a780a7;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgba(240, 255, 255, 0.888);
    transform: scale(1.05);
}

button:hover{
    box-shadow: 0px 0px 8px rgba(240, 255, 255, 0.888);
    transform: scale(1.05);
}



/* estilo do cabeçalho  */
header{
    z-index: var(--z-fixed);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 1%;
    background-color: #690769;
}
header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: hsl(0, 0%, 100%);
    transform:scale(1.05) ;
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
     display: inline-block;
     padding: 0  40px;
     font-size: 20px;
}


/*estilo do menu mobile*/
.btn-abrir-menu i{
    color: #a780a7;
    font-size: 40px;
}
 
.btn-abrir-menu{
    display: none;
}
.menu-mobile{
    background-color: #610a61;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
    display: none;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.btn-abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #5f045f;
}

.overlay-menu{
    background-color: #0000004b;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}






/*estilo do topo do site*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site p{
    font-size: 30px;
    color: white;
}

.topo-do-site .txt-topo-site h1{
    font-size: 40px;
    color: white;
}

.btn-contato{
    margin: 40px 0;
}


.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 4s ease-in-out infinite alternate;
    left: 200px;
    padding: 65px 10px;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}

/*estilo das especialidades*/

section.especialidades{
    padding: 40px 4%;

}

section.especialidades .flex{
     gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
    color: #fff;
}

.especialidades .especialidades-box p{
    font-size: 20px;
}

    
/*estilo do sobre*/
section.sobre{
    padding: 80px 4%;
}

.img-sobre{
    margin-left: 50px;
    border: 0;
    border-radius: 20px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;

}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #a780a7;
    display: block;

}

.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: justify;
    font-size: 20px;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #a780a7;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/*estilo meus projeto*/
section.projetos{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff09;
}

section.projetos .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-proj{
    width: 360px;
    height: 460px;
    background-color: #a780a7;
    background-size: cover;
    cursor: pointer;
    border-radius: 40px;
    transition: .2s;
    position: relative;
}

.img-proj:hover{
    box-shadow: 0px 0px 8px rgba(240, 255, 255, 0.888);
    transform: scale(1.05);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}





/*formularo de contato*/
section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form input::placeholder{
    color: #f090f0;
}

form textarea::placeholder{
    resize: none;
    color: #f090f0;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: rgba(240, 255, 255, 0.888);
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* estilo rodape */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff09;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

footer .line-footer p i{
    color: #a780a7;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

.borda{
    border-top: 2px solid #a780a7;
}

@media (max-width: 1280px){
    header nav.menu-desktop ul li{
        display: inline-block;
        padding: 0 20px;
        font-size: 15px;
    }

    header{
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0px 1%;
        z-index: var(--z-fixed);
        background-color: #690769;
    }

    .topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 4s ease-in-out infinite alternate;
    left: 0px;
}

}


@media (max-width: 1026px){
    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }


    .flex .topo-do-site{
        flex-direction: column-reverse;
    }

    .flex .sobre{
        flex-direction: column-reverse;
    }

    .menu-desktop{
        display: none;
    }

    .btn-contato{
        display: none;
    }

    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site .txt-topo-site h1{
        font-size: 28px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    section.especialidades{
        padding: 40px 8%;
    }

    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre{
        width: 100%;
    }

    section.projetos{
        padding: 80px 8%;
    }

    .img-proj{
        width: 100%;
    }

    section.projetos .flex{
        gap: 60px;
    }

    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }

    .menu-mobile{
        display: flex;
    }

    .btn-abrir-menu{
        display: flex;
    }

    .topo-do-site .img-topo-site img{
        position: relative;
        animation: flutuar 4s ease-in-out infinite alternate;
        left: 0px;
    }

}













